<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가위,바위,보 기록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" rel="stylesheet">
    <style>
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

        .nav-item {
            background-color: #fd6f00;
            margin-left: 40px;
            margin-right: 40px;
            border-radius: 15px;
            border: 2px solid white;
            font-weight: bold;
        }

        .container-input {
        }


    </style>
</head>

<nav class="navbar d-flex justify-content-space-between md-5" data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active px-5" aria-current="page" href="{{url_for('home')}}">게임하기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active px-5" aria-current="page" href="{{url_for('record')}}">기록보기</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>
<div class="container-input d-flex justify-content-space-between">
    <form id="filter-form" action="{{ url_for('record') }}" method="GET">
        <div class="row justify-content-start">
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filter_win" name="filter_win" value="1"
                               onclick="saveAllCookieCheckboxState()">
                        <label class="form-check-label" for="filter_win">Win</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filter_lose" name="filter_lose" value="1"
                               onclick="saveAllCookieCheckboxState()">
                        <label class="form-check-label" for="filter_lose">Lose</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filter_draw" name="filter_draw" value="1"
                               onclick="saveAllCookieCheckboxState()">
                        <label class="form-check-label" for="filter_draw">Draw</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <!--                    <label class="form-check-label" for="number_of_results">Draw</label>-->
                    <input type="number" class="form-control" id="number_of_results" name="number_of_results"
                           value="100">
<!--                    <label class="form-check-label" for="number_of_results">개</label>-->
                </div>
            </div>
            <div class="col">
                <input type="submit" value="조회" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>

<table class="table table-striped table-bordered">
    <thead class="thread-dark">
    <tr>
        <th scope="col" class="font-weight-bold text-white bg-primary">#</th>
        <th scope="col" class="font-weight-bold text-white bg-primary">사용자</th>
        <th scope="col" class="font-weight-bold text-white bg-primary">컴퓨터</th>
        <th scope="col" class="font-weight-bold text-white bg-primary">결과</th>
        <th scope="col" class="font-weight-bold text-white bg-primary">게임 시간</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        <td>{{ record.num }}</td>
        <td>{{ record.user }}</td>
        <td>{{ record.computer }}</td>
        <td>{{ record.result }}</td>
        <td>{{ record.datetime }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="../static/record_cookie.js">
</script>
<script>
    // const checkBoxs = {
    //     "filter_win": "filter_win_check_state",
    //     "filter_lose": "filter_lose_check_state",
    //     "filter_draw": "filter_draw_check_state",
    // }
    //
    // function saveAllCookieCheckboxState() {
    //     for (const key in checkBoxs) {
    //         saveCookieCheckboxState(document, key, checkBoxs[key])
    //     }
    //     console.log(document.cookie)
    // }
    //
    // function loadAllCookieCheckboxState() {
    //     for (const key in checkBoxs) {
    //         loadCookieCheckboxState(document, key, checkBoxs[key])
    //     }
    // }
    //
    // console.log(document.cookie)
    // loadAllCookieCheckboxState()
</script>


</body>

</html>